<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.nls.business.mapper.DemoMapper">
    <resultMap id="BaseResultMap" type="com.xm.nls.business.model.entity.Demo">
        <!--@mbg.generated-->
        <!--@Table demo-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `name`, age, created_at
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from demo
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete
        from demo
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.xm.nls.business.model.entity.Demo"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into demo (`name`, age, created_at)
        values (#{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{createdAt,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.xm.nls.business.model.entity.Demo"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into demo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                `name`,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="createdAt != null">
                created_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
            <if test="createdAt != null">
                #{createdAt,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xm.nls.business.model.entity.Demo">
        <!--@mbg.generated-->
        update demo
        <set>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="createdAt != null">
                created_at = #{createdAt,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xm.nls.business.model.entity.Demo">
        <!--@mbg.generated-->
        update demo
        set `name`     = #{name,jdbcType=VARCHAR},
            age        = #{age,jdbcType=INTEGER},
            created_at = #{createdAt,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>

<!--auto generated by MybatisCodeHelper on 2025-09-03-->
    <select id="selectByNameOrderByAge" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from demo
        <where>
            <if test="name != null">
                and `name`=#{name,jdbcType=VARCHAR}
            </if>
        </where>
        order by age asc
    </select>
</mapper>