<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.nls.business.mapper.SmsCodeMapper">
  <resultMap id="BaseResultMap" type="com.xm.nls.business.domain.SmsCode">
    <!--@mbg.generated-->
    <!--@Table sms_code-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="use" jdbcType="VARCHAR" property="use" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, mobile, code, `use`, `status`, updated_at, created_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from sms_code
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from sms_code
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xm.nls.business.domain.SmsCode">
    <!--@mbg.generated-->
    insert into sms_code (id, mobile, code, 
      `use`, `status`, updated_at, 
      created_at)
    values (#{id,jdbcType=BIGINT}, #{mobile,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{use,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, #{updatedAt,jdbcType=TIMESTAMP}, 
      #{createdAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xm.nls.business.domain.SmsCode">
    <!--@mbg.generated-->
    insert into sms_code
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="use != null">
        `use`,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="use != null">
        #{use,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xm.nls.business.domain.SmsCode">
    <!--@mbg.generated-->
    update sms_code
    <set>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="use != null">
        `use` = #{use,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=CHAR},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xm.nls.business.domain.SmsCode">
    <!--@mbg.generated-->
    update sms_code
    set mobile = #{mobile,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      `use` = #{use,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=CHAR},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      created_at = #{createdAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByMobileAndUse" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from sms_code
    where mobile = #{mobile,jdbcType=VARCHAR}
    and `use` = #{use,jdbcType=VARCHAR}
  </select>
</mapper>